<!DOCTYPE html>
<html>

<head>
  <title>The Tech State</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">The Tech State</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Topics</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/?section=code">Code</a>
              <a class="dropdown-item" href="/?section=design">Design</a>
              <a class="dropdown-item" href="/?section=blockchain">Blockchain</a>
              <a class="dropdown-item" href="/?section=entrepreneurship">Entrepreneurship</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/">All topics</a>
            </div>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <input id="search-box" class="form-control mr-sm-2" type="search" placeholder="Posts and users"
            aria-label="Search">
          <button id="search-box-btn" class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </div>
        <br>
        <div>
          <button class="ml-5 btn-primary btn" id='user-btn' onclick="window.location.href='/users/login'">User</button>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="card m-5 d-flex justify-content-center">
      <div class="container p-5">
        <div class="row">
          <div class="col-md-3">
            <a>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 24px; height: 24px;"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0 0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"/></svg>
            </a>
            <p id="comments-len">-</p>
            
          
          </div>
          <div class="col-md-6 shadow-lg rounded p-0">
            <img id="post-thumbnail" class="h-100 w-100 rounded" src="default.jpg" alt="Thumbnail">
            
          </div>
          <div class="col-md-3" style="align-items: center; width: 100%;">
            <div id="edit-container">
            </div>
          </div>
        </div>
        <br><br>
        <h2 class="text-center" id="post-title">Title goes here</h2>
        <p class="text-center" id="post-username">by <a href="#">Username</a></p>
        <div class="d-flex justify-content-center">
          <div class="rounded p-1 text-center shadow w-10 bg-warning" id="post-section">Section goes here</div>
        </div>
        <br>
        <div class="card m-2 p-3">
          <p id="post-description">Description goes here</p>
        </div>
        <br>
        <h4>Comments (soon)</h4>
        <div id="post-comments"></div>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer"></div>
  </footer>

  <!-- Script para cargar los datos del post -->
  <script>

    // Check if the user is the owner
    // get the cookies
    const cookies = document.cookie.split('; ').reduce((prev, current) => {
          const [name, ...value] = current.split('=');
          prev[name] = value.join('=');
          return prev;
      }, {});

    function validateOwnership(username, postId) {

      const usernameCookie = cookies.username;
      if (!usernameCookie || usernameCookie !== username) {
        return;
      }

      // is the post owner , therefore add the edit button
      document.getElementById('edit-container').innerHTML = `<button class="btn btn-success" onclick="editPost('${username}', '${postId}')">Edit post</button>`
    }


    function editPost(username, postId) {
      const usernameCookie = cookies.username;
      if (!usernameCookie || usernameCookie !== username) {
        return;
      }

      // edit post call to the api endpoint
      window.location.href = `/users/${username}/edit-post/${postId}`;
    }





    // Obtener parámetros de la URL
    const urlParts = window.location.pathname.split('/');
    const username = urlParts[urlParts.length - 2];
    const postId = urlParts[urlParts.length - 1];

    validateOwnership(username, postId);

    // Llamar al endpoint para obtener los detalles del post
    fetch(`/api/posts/${username}/${postId}`)
      .then((response) => {
        if (!response.ok) {

        console.log(response);
          throw new Error('Post not found');
        }
        return response.json();
      })
      .then((res) => {
        const post = res.message;
        // Cargar los datos del post en el HTML
        document.getElementById('post-title').innerText = post.title;
        document.getElementById('post-username').innerHTML = `by <a href="/users-d/${username}/">${username}</a>`;
        document.getElementById('post-section').innerText = post.section;
        document.getElementById('post-description').innerText = post.description;
        document.getElementById('post-thumbnail').src = post.img_url || 'default.jpg';
        // document.getElementById('comments-len').innerText = post.comments.length;
        
        // Aquí puedes también cargar los comentarios o votos
        // según tu implementación
      })
      .catch((error) => {
        console.error(error);
        document.getElementById('post-title').innerText = error.message;
      });

    // Función para búsqueda
    const inputSearchText = document.getElementById("search-box");
    const btnSearch = document.getElementById("search-box-btn");

    btnSearch.onclick = function () {
      const searchContent = inputSearchText.value;
      const urlConf = `/?searchTerm=${searchContent}`;
      window.location.href = urlConf;
    };
  </script>
</body>

</html>
